@import url(https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bree Serif', serif;
  text-decoration: none;
  list-style-type: none;
}

body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
}

@media only screen and (max-width: 767px) {
  .menu_box {
    flex-direction: column;
  }
  .menu_box p a {
    margin-top: 25px;
    display: inline-block;
    padding: 10px 20px;
  }
}
